<div class="box-header well-small" data-original-title>
     <i class="icon-folder-open"></i> <%= header_title %>
     <div class="box-icon">
        <a href="<%= header_link %>" class="btn-small btn-setting btn-round"><i class="icon-cog"></i></a>
        <a href="<%= header_link %>" class="btn-small btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
        <a href="<%= header_link %>" class="btn-small btn-close btn-round"><i class="icon-remove"></i></a>
     </div>
</div>

