<style>
   .box-content { overflow: hidden; width: 90%;}
</style>

<% provide(:title, "All users") %>
<div id="content" class="span10">
   <div class="box span10">
      <div class="box-header well">
         <h2><i class="icon-edit"></i> All users</h2>  
      </div>
      <div class="box-content">
          <%= will_paginate %>
          <ul class="users">
             <%= render @users %>
          </ul>

          <%= will_paginate %>
      </div>
   </div>
</div>